@charset "utf-8";

/*==========以下部分是Validform必须的===========*/
.info {
				margin-left: 8px;
				padding: 0 20px 0 10px;
				color: #999;
				float: left;
				position: relative;
				display: none;
				line-height: 20px;
				background: #FEF5E0;
				font-size: 12px;
			}
/* 当前提示 */
.custom_checktip{
color: #999;
position:absolute;
z-indet:99;
height:25px;
line-height:26px;
width:360px;
}
.Validform_checktip{
margin-left:10px;
height:25px;
line-height:26px;
font-size:12px; 
padding-left:20px
}
/* 输入错误提示 */
.Validform_wrong{
/*   background:url(../images/error.png) no-repeat left center; */
  color:#f00;
   height:25px; 
  line-height:25px;
/*  position:absolute;
  z-indet:99;*/
  margin-left:92px;
  }
/* 输入正确提示 */
.Validform_right{ 
/* background:url(../images/right.png) no-repeat left center;  */
color:#71B83D;
/*position:absolute;
z-indet:99;*/
margin-left:92px;
}
input[type=text]:focus,input[type=password]:focus,textarea:focus{
border:1px solid #439CE0;
background-color:#FEF5E0;
}